<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>


<title>Cinema</title>

</head>
<body>

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>Ajouter Films</h3>
				</div>


			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12  ">
					<div class="x_panel">
						<div class="x_title">
							<h2>Gestion Des Films</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a class="dropdown-item" href="#">Settings 1</a></li>
										<li><a class="dropdown-item" href="#">Settings 2</a></li>
									</ul></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<form name="f" th:object="${film}" data-parsley-validate
								class="form-horizontal form-label-left" th:action="@{saveFilm}"
								method="post" enctype="multipart/form-data">

                                
                                 <div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">ID <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="id" name="id" required="required"
											class="form-control" th:value="${film.id}"> <span
											th:errors="${film.id}"></span>
									</div>
									</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Titre <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="titre" name="titre" required="required"
											class="form-control" th:value="${film.titre}"> <span
											th:errors="${film.titre}"></span>
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">description <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="description" name="description"
											required="required" class="form-control"
											th:value="${film.description}"> <span
											th:errors="${film.description}"></span>
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">realisateur <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="realisateur" name="realisateur"
											required="required" class="form-control"
											th:value="${film.realisateur}"> <span
											th:errors="${film.realisateur}"></span>
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">duree <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="duree" name="duree" required="required"
											class="form-control" th:value="${film.duree}"> <span
											th:errors="${film.duree}"></span>
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">photo <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="file"  name="picture" required="required"
										   th:value="${film.photo}"
											class="form-control" > <span
											th:errors="${film.photo}"></span>
									</div>
								</div>

								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Date sortie <span class="required">*</span>
									</label>
									<div class="input-group date col-md-6 col-sm-6" id="myDatepicker2">
										<input type="date" class="form-control"
											th:value="${film.dateSortie}" name="dateSortie"
											id="dateSortie"> <span class="input-group-addon">
											<span class="fa fa-calendar"></span>
										</span>
									</div>

								</div>
							
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Catégorie <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6">
										<select class="form-control" name="categorie">
											<option th:each="categorie:${categories}"
												th:value="${categorie.id}" th:text="${categorie.name}">
												</option>


										</select>
									</div>
								</div>
								<div class="ln_solid"></div>
								<div class="item form-group">
									<div class="col-md-6 col-sm-6 offset-md-3">
										<button class="btn btn-primary" type="button">Cancel</button>
										<button class="btn btn-primary" type="reset">Reset</button>
										<button type="submit" class="btn btn-success">Update</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->


</body>
</html>
