<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>


<title>Cinema</title>

</head>
<body>

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>Edit Villes</h3>
				</div>

				
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12  ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Gestion Des Villes 
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a class="dropdown-item" href="#">Settings 1</a></li>
										<li><a class="dropdown-item" href="#">Settings 2</a></li>
									</ul></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<form name="f" th:object="${ville}" data-parsley-validate
								class="form-horizontal form-label-left" th:action="@{save}" method="post">

                                
                                <div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">ID <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="id" name="id"
											required="required" class="form-control" th:value="${ville.id}">
										<span th:errors="${ville.id}"></span>	
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Name <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="name" name="name"
											required="required" class="form-control" th:value="${ville.name}">
										<span th:errors="${ville.name}"></span>	
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Longitude <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="longitude" name="longitude"
											required="required" class="form-control" th:value="${ville.longitude}">
											<span th:errors="${ville.longitude}"></span>
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Altitude <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="altitude" name="altitude"
											required="required" class="form-control" th:value="${ville.altitude}">
											<span th:errors="${ville.altitude}"></span>
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Lattitude <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="lattitude" name="lattitude"
											required="required" class="form-control" th:value="${ville.lattitude}">
											<span th:errors="${ville.lattitude}"></span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">Cinema <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6">
										<select class="form-control" th:field="*{id}">
											<option value="">Choose option</option>
											<option th:each="cinema:${cinemas}"
											 th:value="${cinema.id}"
											 th:text="${cinema.name}"/>
											
											
										</select>
									</div>
								</div>
								<div class="ln_solid"></div>
								<div class="item form-group">
									<div class="col-md-6 col-sm-6 offset-md-3">
										<button class="btn btn-primary" type="button">Cancel</button>
										<button class="btn btn-primary" type="reset">Reset</button>
										<button type="submit" class="btn btn-success">Update</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->


</body>
</html>
